<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="console">
            <PatternLayout charset="UTF-8" pattern=
                    "[%style{%date{HH:mm:ss.SSS}}{white} %thread][%highlight{%level}{trace=white}]: %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="file" filePattern="log/%date{yyyy-MM-dd}#%i.log.gz"
                                 fileName="log/latest.log">
            <PatternLayout charset="UTF-8" pattern="[%date{HH:mm:ss} %thread] [%level]: %msg%n"/>
            <!-- 代码来自 Spigot -->
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="cn.zc" additivity="false" level="trace">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>
    </Loggers>
</Configuration>